.aws/
.env
.env.*
.vscode
*.pyc
**/__pycache__/
**/dist/**
compose.yaml
django-polls/*
IIPA_Result.txt
IIPA/chmod
IIPA/credential.json
IIPA/db.sqlite3
IIPA/diff.txt
Intrinsic-Image-Popularity.code-workspace
neeeeep.py
pods_and_services.yaml
results.json
skaffold.yaml
unformatted_cred.json
x.json
