[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
argparse = "*"
pillow = "*"
requests = "2.31"
wheel = "*"
setuptools = "*"
pip = "*"
django = "*"
uvicorn = "*"
gunicorn = "*"
django-polls = {file = "django-polls/dist/django-polls-0.3.tar.gz"}
numpy = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
