[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
pillow = "==8.2.0"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
openGUI="python rateImageUI.py"
